*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hero{
    height: 150vh;
    background-image: url(images/1.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
h1{
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 20px;
}
.timebox{
    display: flex;
    gap: 90px;
}
.time{
    text-align: center;
}
.time h2{
    font-size: 5rem;
    font-weight: 100;
}
